.sale-info-card .buyer {
  width: 33.33%;
}
.sale-info-card .seller {
  width: 66.66%;
}

.sale-info-card .selling-info {
  background: var(--alternative-background);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.sale-info-card h6 {
  font-size: 18px;
}

.sale-info-card h6 span {
  color: var(--secondary-text);
  font-size: 14px;
}
