.account-item {
  max-width: 300px;
  background: linear-gradient(127.09deg, #f17db5 -14.32%, #d15ce5 92.98%);
  box-shadow: 0px 4px 31px rgba(186, 19, 88, 0.5);
  border-radius: 10px;
}

.account-item img {
  width: 55px;
}

.account-item h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.account-item h4 {
  font-size: 20px;
}

.activity-section .date {
  background: #343261;
  border-radius: 37px;
  color: #9796cf;
  font-size: 18px;
  padding: 5px 15px;
  z-index: 2;
}

.activity-card {
  background: linear-gradient(
    268.95deg,
    rgba(41, 37, 88, 0.536345) 4.06%,
    rgba(38, 35, 83, 0.866791) 42.35%,
    rgba(33, 30, 75, 0.50218) 99.53%
  );
  box-shadow: 0px 46px 69px #17122b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.activity .activity-card .time {
  color: #7877b1;
  margin: 0;
  font-size: 20px;
}

.activity .activity-card .vr {
  width: 2px;
  height: 30px;
  background-color: #7877b1;
  opacity: 0.8;
}

.activity .activity-card .image {
  width: 50px;
}

.activity .activity-card .detail h4 {
  color: #b1afcd;
  font-size: 18px;
  font-weight: 600;
}

.activity .activity-card .detail h4 span {
  color: #db66d5;
}

.activity .activity-card .detail h6 {
  color: #6f6ea4;
  font-weight: 400;
}

.inventory-section .eth-card {
  border: 1px solid #312f62;
  border-radius: 5px;
  padding: 18px;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.inventory-section .eth-card span {
  color: #484666;
  font-size: 15px;
  font-weight: 600;
}

.inventory-section .eth-card img {
  max-width: 20px;
}

.inventory-section .nav-tabs {
  border: none;
  background-color: #1a1840;
  border-radius: 24px;
}

.inventory-section .nav-tabs .nav-link {
  border-radius: 24px;
  background-color: #1a1840;
  color: #565278;
  border: none !important;
  width: 154px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory-section .nav-tabs .nav-link.active {
  color: #ffffff;
  background: linear-gradient(127.09deg, #f17db5 -14.32%, #d15ce5 92.98%);
  box-shadow: 0px 4px 31px rgba(186, 19, 88, 0.5);
  border: none !important;
}

.inventory-section .filter {
  position: absolute;
  right: 10px;
}

.inventory-section .filter-button {
  width: 45px;
  height: 45px;
  background: #343261 !important;
  border-radius: 6.78571px !important;
  box-shadow: none !important;
  border: none !important;
}

.inventory-section .no-items {
  padding: 200px 0;
  color: #9796cf;
}

.item-added {
  opacity: 0.3;
}
